@page
@model RazorPagesUI.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Персонал компании";
}

@if(TempData["SeccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SeccessMessage"]
    </div>
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    @foreach (var item in Model.Employees)
    {
        var PhotoPath = $"/images/{item.PhotoPath ?? "noimage.png"}";
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="card m-3 cardBoxShadow">
                    <div class="card-header text-center cardHeaderStyle">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="text-center cardBodyStyle">
                        <img class="card-img-top imageThumbnail" src="@PhotoPath" alt="Avatar" asp-append-version="true" />
                    </div>
                    <div class="card-footer text-center">
                        <a asp-page="/Employees/Details" asp-route-id="@item.Id" class="btn btn-success m-1 buttonShadow">Просмотр</a>
                        <a asp-page="/Employees/Edit" asp-route-id="@item.Id" class="btn btn-primary m-1 buttonShadow">Редактировать</a>
                        <a href="#" class="btn btn-danger m-1 buttonShadow">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<h3>Всего персонала: @Model.Employees.Count() человек</h3>

